body {
    background: #CED8F6;
    margin-left: 30px;
}

header {
    margin-top: 20px;
}

footer{
    margin-top: 50px;
}

ul {
    margin-top: 20px;
}

h1 {
    color: #0A0A2A;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: medium;
}

.img_padrao{
    margin-bottom: 30px;
    width: 300px;
}

.logo{
    width: 50px;
}